<html>
<head>
    <style>
    </style>
</head>
<body>

<h1>{{ config.siteName }} 管理用 アカウント登録</h1>

<p>アカウント登録を完了しました。</p>

<p><a href="/init/register">他のアカウントを登録する</a></p>
<p><a href="/">トップに戻る</a></p>



</body>
</html>