<html>
<head>
    <style>
    </style>
</head>
<body>

<h1>{{ config.siteName }} 初期設定</h1>

<p>初期設定を完了しました。</p>

<p><a href="/init/register">アカウントを登録する</a></p>
<p><a href="/">トップに戻る</a></p>



</body>
</html>