{# ベースとなるテンプレートを継承 #}
{% extends "template.twig" %}

{% block content %}

    <style>

    </style>

    <div class="box">

        <h2>404 not found</h2>

        <p class="center">
            <img src="/assets/img/Barn_cat_with_bird.png" style="max-width:100%;"><br>
            <a href="https://commons.wikimedia.org/wiki/File:Barn_cat_with_bird.png">https://commons.wikimedia.org/wiki/File:Barn_cat_with_bird.png</a>
        </p>

    </div>

{% endblock %}
