.idea/

src/.well-known/acme-challenge/

user_guide_src/*

up/*

composer.lock
composer.phar
default_page.png

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
