{# ベースとなるテンプレートを継承 #}
{% extends "template.twig" %}

{% block content %}

    <div class="box">

        <h2>パスワードリマインダ</h2>

        <form action="/passwordReminder/updatePassword" method="post">
            <table>
                <tr>
                    <th>meow_id</th>
                    <td>{{ user.mid }}</td>
                </tr>
                <tr>
                    <th>新パスワード</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th>新パスワード（確認）</th>
                    <td><input type="password" name="passwordConfirm"></td>
                </tr>
            </table>
            <input type="hidden" name="authKey" value="{{ authKey }}">
            <input type="submit" value="パスワード再設定">
        </form>

    </div>

{% endblock %}
