{# ベースとなるテンプレートを継承 #}
{% extends "template.twig" %}

{% block content %}

    <div class="box">

        <h2>パスワードリマインダ</h2>

        <p>メールを送信しました。<br>メールに記載されたURLから、パスワードを再設定してください。</p>

    </div>

{% endblock %}
