<!-- 標準ポップアップメニュー -->

<div id="meow-menu-wrap" class="popup-wrapper">
    <div class="curtain"></div>
    <div id="meow-menu" class="box popup-menu">
        <p>個別meowメニュー</p>
        <p id="meow-menu-to-public"><a href="#" onclick="return onClickMeowToPublic();">全体公開にする</a></p>
        <p id="meow-menu-to-private"><a href="#" onclick="return onClickMeowToPrivate();">相互フォロー限定にする</a></p>
        <p id="meow-menu-to-sensitive"><a href="#" onclick="return onClickMeowToSensitive(1);">閲覧注意にする</a></p>
        <p id="meow-menu-to-not-sensitive"><a href="#" onclick="return onClickMeowToSensitive(0);">閲覧注意解除</a></p>
        <p><a href="#" onclick="deleteMeow(meow.currentMeowId); $('#meow-menu-wrap').hide(); return false;">削除する</a></p>
    </div>
</div>

{% if me %}
    <div id="bookmark-menu-wrap" class="popup-wrapper">
        <div class="curtain"></div>
        <div id="bookmark-menu" class="box popup-menu">
            <p>ブックマークメニュー</p>
            <div id="bookmark-menu-add">
                <select name="album_id" size="3">
                    <option value="0">未整理のブックマーク</option>
                </select><br>
                <input type="button" value="ブックマークする" onclick="onClickBookmarkButton();">
            </div>
            <div id="bookmark-menu-remove">
                <a href="#" onclick="changeBookmark(meow.currentMeowId, 0); return closeBookmarkMenu();">ブックマークを外す</a>
            </div>
        </div>
    </div>
{% endif %}

<div id="select-share-wrapper" class="popup-wrapper">
    <div class="curtain"></div>
    <div id="selectShare" class="box popup-menu">
        <p>シェア方法を選んでください</p>
        <p><a href="#" onclick="return copySelectedMeowUrl();">URLをコピー</a></p>
        <p><a href="#" onclick="return shareSelectedMeowToTwitter();">twitterで共有</a></p>
    </div>
</div>

<div id="youtube-viewer-wrapper" class="popup-wrapper">
    <div class="curtain" onclick="$('#youtube-viewer').empty();"></div>
    <div id="youtube-viewer"></div>
</div>

<div id="image-viewer" class="popup-wrapper">
    <div class="curtain"></div>
    <div id="image-viewer-image" onclick="closeImageViewer();">
        <img>
    </div>
    <div class="close-btn" onclick="closeImageViewer();"></div>
    <div id="image-viewer-prev" onclick="_m.toPrevImage();"></div>
    <div id="image-viewer-next" onclick="_m.toNextImage();"></div>
</div>
