<div class="box">
    <h2>Fediverse　※開発中　わかる人だけどうぞ</h2>
    <p>
        <a href="/ap/">概要</a>
        /
        <a href="/ap/searchUser">リモートユーザー検索</a>
        /
        <a href="/ap/followRequest">フォローリクエスト</a>
    </p>
</div>