{# ベースとなるテンプレートを継承 #}
{% extends "template.twig" %}

{% block content %}

    <style>
        div.message {
            background-color: white;
            padding: 10px;
        }
    </style>

    <div class="message">
        <h2>{{ message }}</h2>
        <p><a href="{{ url }}">ここをクリックして、次のページに進みます</a></p>
    </div>

{% endblock %}
